@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}

/* Light Mode */

body {
  background: white;
  color: black;
}

/* Dark Mode */

.dark body {
  background: #020617;
  color: white;
}